@model ProjetoFinalASP.Models.Categoria

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCategoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idCategoria }) |
    @Html.ActionLink("Voltar", "Index")
</p>
